@define-mixin between-childs {
  &:not(:first-child) {
    @mixin-content;
  }
}

@define-mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@define-mixin flex-column-central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@define-mixin flex-row-central {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@define-mixin underline-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-skip: none;
  -webkit-text-decoration-skip: none;
}