:root {
  --base-text-primary: #0F2345;
  --base-text-secondary: #6B768B;
  --base-bg-color: #edeef0;

  --c-grey-0: #C2C2C2;
  --c-grey-1: #A6A6A6;
  --c-grey-2: #D0D7E0;
  --c-grey-3: #929BAE;
  --c-grey-4: #EDEEF0;
  --c-grey-5: #FDFDFD;
  --c-grey-6: #D5DAE1;
  --c-grey-7: #F4F6FA;
  --c-grey-8: #E5E7EC;
  --c-grey-9: #E9ECF2;
  --c-grey-10: #CBCBCB;

  --c-green-0: #62C16C;

  --c-red-0: #FF5757;

  --c-yellow-0: #F9C961;
  --c-yellow-1: #EBAE28;

  --c-dark-0: #0A234A;

  --base-font-family: 'Proxima Nova', sans-serif;
  --base-font-size: 14px;

  --modal-overlay-color: rgba(15, 35, 69, 0.5);

  --base-animation-length: 0.15s;
  --base-animation: var(--base-animation-length) ease-out;

  --inputs-inner-side-padding: 20px;
}


