// LAYOUT
$column-width: 140px;

// COLORS
$nuxt-background: #1d1d1d;
$layout-background: #222222;

$primary-color: #efc742;
$secondary-color: #222222;

$shadow-title-color: #343434;
$shadow-text-color: #505050;
